body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    padding: 20px;
}

input[type="text"], button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    background-color: #5c67f2;
    color: white;
}

button:hover {
    background-color: #6a74fa;
}
